In [2]:
import pandas as pd
import numpy as np

In [4]:
data = {
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, 3, 4],
    'C': [1, 2, 3, 4]
}
df = pd.DataFrame(data)

print(df)

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  4.0  4

In [11]:
df.isnull()

       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
3  False  False  False

In [10]:
df.drop("A", axis=1)

     B  C
0  NaN  1
1  2.0  2
2  3.0  3
3  4.0  4